name: Update Output

on:
  schedule:
  - cron: "0 * * * *"
  workflow_dispatch:
  push:
    paths-ignore:
      - "output/**"

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Run generation
        uses: code-lime/bstats-chart@v0.0.2
        with:
          plugin-id: 26312
          output-file: 'output/bstats/velocircon.png'

      - name: Commit updated
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update output
